<a href="https://colab.research.google.com/github/mrroom/Bigdata-Deep-Learning/blob/master/LLM_in_data_security_policy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터는 못 보내지만 Cloud LLM은 쓰고싶어

## 프로젝트 배경

많은 기업에서는 정보보안을 위해 내부 데이터가 네트워크를 통해 밖으로 나가는 것을 정책적으로 철저히 막고 있습니다.

일부 조직은 해당 데이터 거버너스에 대해 자유롭거나 정책조정이 가능하지만 특정 조직은 매우 민감한 데이터를 다루고 있어 이러한 점에 있어서 조심스럽습니다.

하지만 이러한 데이터 보안 정책에 묶여있는 조직도 Azure의 OpenAI GPT나 GCP의 Gemini, AWS의 Claude 등의 클라우드 LLM에 대한 수요는 있습니다.

그래서 이들에게 필요한 것은 내부의 데이터를 내보내지 않더라도 최대한 클라우드 LLM의 파워를 사용하도록 하는 것입니다.

이를 위해 기본적으로 `NL2SQL` 기법과 함께,
나아가 클라우드메이트에서는 프롬프트를 통해 데이터를 은닉하는 `masked data prompting`기법을 제안합니다.

**본 데모에서는 Gemini-pro를 사용하였습니다.**

## 데이터 준비
https://rt.molit.go.kr/pt/xls/xls.do?mobileAt=

여기로 접속하면 샘플로 사용하는 실시간 부동산 거래데이터를 받아올 수 있습니다.

본 데모에서는 서울특별시에서 2024년 3월 한달간 거래된 아파트 매매 데이터를 엑셀형태로 다운로드 받아서 사용하였습니다.

다운받은 데이터는 코랩의 파일 탭 > 업로드 버튼을 클릭하여 업로드합니다.

(해당 데이터는 세션이 종료되면 사라집니다.)
![image.png]()

### 원본데이터 전처리

In [1]:
!pip install pip --upgrade
!pip install pandas --upgrade

Requirement already satisfied: pip in /usr/local/lib/python3.10/dist-packages (23.1.2)
Collecting pip
  Downloading pip-24.0-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 12.8 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.1.2
    Uninstalling pip-23.1.2:
      Successfully uninstalled pip-23.1.2
Successfully installed pip-24.0
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Collecting pandas
  Downloading pandas-2.2.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 40.5 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.0.3
    Uninstalling pandas-2.0.3:
      Successfully uninstalled pandas-2.0.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.0.3, but you have pandas 2.2.1 which is incompatible.
Successfully installed pandas-2.2.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
# 엑셀파일 데이터를 전처리하고 저장하기 위해 pandas를 사용합니다.
import pandas as pd

In [3]:
#@title 엑셀 파일 이름 입력
# 본인의 데이터 파일 이름
DATA_FILE = '아파트(매매)_실거래가_20240409084008.xlsx' # @param {type: "string"}

In [4]:
# 엑셀파일 형태의 데이터를 pandas dataframe 형태로 메모리에 적재합니다.
real_transaction_data_df = pd.read_excel(DATA_FILE,header=12, thousands=',')

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [5]:
# NO 컬럼명을 id로 변경하고 sql작성시 문제가 될 수 있는 괄호 등을 제거합니다.
# 편의를 위해 컬럼명은 그대로 한글로 진행합니다.

real_transaction_data_df.rename(columns = {'NO':'id', '전용면적(㎡)' : '전용면적_m2','거래금액(만원)':'거래금액_만원'}, inplace = True)
real_transaction_data_df.replace('-',None,inplace=True)
real_transaction_data_df.head(5)

,id,시군구,번지,본번,부번,단지명,전용면적_m2,계약년월,계약일,거래금액_만원,동,층,매수자,매도자,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,등기일자
0,1,서울특별시 은평구 대조동,26-14,26,14,대경아르체아파트,29.99,202301,2,40000,None,9,None,None,2021,진흥로 153,None,중개거래,서울 은평구,23.01.16
1,2,서울특별시 은평구 불광동,645,645,0,불광롯데캐슬,114.99,202301,2,104500,106동,18,None,None,2018,불광로 64,None,중개거래,서울 은평구,23.04.10
2,3,서울특별시 동대문구 이문동,428,428,0,신이문금호어울림,84.84,202301,3,60000,101,2,None,None,2008,신이문로 9,None,중개거래,서울 동대문구,23.03.09
3,4,서울특별시 강북구 미아동,1353,1353,0,에스케이북한산시티,59.98,202301,3,51000,134,15,None,None,2004,솔샘로 174,None,중개거래,서울 강북구,23.03.10
4,5,서울특별시 노원구 월계동,12,12,0,삼호4,50.18,202301,3,50000,38,4,None,None,1987,마들로 127,None,중개거래,서울 노원구,23.03.15

In [6]:
# 날짜 관련 데이터를 datetime으로 변경합니다.
real_transaction_data_df['계약일자'] = real_transaction_data_df['계약년월'].astype('str') + real_transaction_data_df['계약일'].astype('str')
real_transaction_data_df['계약일자'] = pd.to_datetime(real_transaction_data_df['계약일자'], format = '%Y%m%d')
real_transaction_data_df['등기일자'] = real_transaction_data_df['등기일자'].apply(lambda x: '20' + x if x is not None else None)
real_transaction_data_df['등기일자'] = pd.to_datetime(real_transaction_data_df['등기일자'], format = '%Y.%m.%d')
real_transaction_data_df['해제사유발생일'] = pd.to_datetime(real_transaction_data_df['해제사유발생일'], format = '%Y%m%d')

In [7]:

# 불필요한 컬럼을 제거합니다.
real_transaction_data_df.drop(['번지','본번','부번','계약년월','계약일','매수자','매도자'], axis=1, inplace=True)

In [8]:
# 컬럼 제거 결과 확인
real_transaction_data_df.head(5)

,id,시군구,단지명,전용면적_m2,거래금액_만원,동,층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,등기일자,계약일자
0,1,서울특별시 은평구 대조동,대경아르체아파트,29.99,40000,None,9,2021,진흥로 153,NaT,중개거래,서울 은평구,2023-01-16,2023-01-02
1,2,서울특별시 은평구 불광동,불광롯데캐슬,114.99,104500,106동,18,2018,불광로 64,NaT,중개거래,서울 은평구,2023-04-10,2023-01-02
2,3,서울특별시 동대문구 이문동,신이문금호어울림,84.84,60000,101,2,2008,신이문로 9,NaT,중개거래,서울 동대문구,2023-03-09,2023-01-03
3,4,서울특별시 강북구 미아동,에스케이북한산시티,59.98,51000,134,15,2004,솔샘로 174,NaT,중개거래,서울 강북구,2023-03-10,2023-01-03
4,5,서울특별시 노원구 월계동,삼호4,50.18,50000,38,4,1987,마들로 127,NaT,중개거래,서울 노원구,2023-03-15,2023-01-03

### 데이터 DB에 저장

In [9]:
# sqlite 패키지를 임포트합니다.
# 데모의 편의를 위해 파일형태로 사용이 가능한 sqlite를 사용합니다.
import sqlite3 as sqlt

In [10]:
# db에 연결합니다.
conn = sqlt.connect('apart.db')
conn.row_factory = sqlt.Row

In [11]:
# 실거래 데이터용 테이블을 만듭니다.
cursor =  conn.cursor()
cursor.execute('''
CREATE TABLE real_transaction
    -- This is a table of actual apartment transactions that occurred in Seoul from April 2, 2023 to April 1, 2024.
(
    id INTEGER,   -- A unique ID that identifies a transaction, primary key
    시군구 TEXT,    -- City, county, district in the area where the transaction occurred
    단지명 TEXT,    -- The name of the apartment complex being contracted for
    전용면적_m2 REAL,	    -- The name of the apartment complex being contracted for
    거래금액_만원 INTEGER,     -- The residential area of ​​the apartment under contract
    동 TEXT,     -- Building number or building name of the apartment being contracted for
    층 INTEGER,     -- The floor of the apartment where the transaction is being made
    건축년도 INTEGER,     -- Year of construction of the apartment being contracted for
    도로명 TEXT,     -- Street address of the apartment being contracted for
    해제사유발생일 TEXT,     -- If the contract is canceled after registration of the sales contract, the date on which the contract was cancelled.
    거래유형 TEXT,     -- This is a type of apartment sales transaction. There are two types of transactions: '중개거래' through a licensed real estate agent or '직거래' where the buyer and seller transact directly.
    중개사소재지 TEXT,     -- If the sale of an apartment is a brokerage transaction, this is the office address of the real estate agent who brokered the transaction.
    등기일자 TEXT,     -- This is the date of application for ownership transfer registration after the apartment sale transaction.
    계약일자 TEXT     -- This is the date on which the apartment sales contract was signed.
);
''')

In [12]:
# 데이터를 db에 저장합니다.
real_transaction_data_df.to_sql('real_transaction',conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None)

35437

In [13]:
# db에 데이터가 맞게 들어갔는지 확인합니다.
pd.read_sql('SELECT * FROM real_transaction LIMIT 10',conn)

,id,시군구,단지명,전용면적_m2,거래금액_만원,동,층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,등기일자,계약일자
0,1,서울특별시 은평구 대조동,대경아르체아파트,29.99,40000,None,9,2021,진흥로 153,None,중개거래,서울 은평구,2023-01-16 00:00:00,2023-01-02 00:00:00
1,2,서울특별시 은평구 불광동,불광롯데캐슬,114.99,104500,106동,18,2018,불광로 64,None,중개거래,서울 은평구,2023-04-10 00:00:00,2023-01-02 00:00:00
2,3,서울특별시 동대문구 이문동,신이문금호어울림,84.84,60000,101,2,2008,신이문로 9,None,중개거래,서울 동대문구,2023-03-09 00:00:00,2023-01-03 00:00:00
3,4,서울특별시 강북구 미아동,에스케이북한산시티,59.98,51000,134,15,2004,솔샘로 174,None,중개거래,서울 강북구,2023-03-10 00:00:00,2023-01-03 00:00:00
4,5,서울특별시 노원구 월계동,삼호4,50.18,50000,38,4,1987,마들로 127,None,중개거래,서울 노원구,2023-03-15 00:00:00,2023-01-03 00:00:00
5,6,서울특별시 은평구 대조동,대경아르체아파트,29.99,40500,None,10,2021,진흥로 153,None,직거래,None,2023-01-31 00:00:00,2023-01-03 00:00:00
6,7,서울특별시 송파구 신천동,파크리오,84.79,172000,225,22,2008,올림픽로 435,None,중개거래,서울 서초구 서울 송파구,2023-02-28 00:00:00,2023-01-03 00:00:00
7,8,서울특별시 송파구 가락동,헬리오시티,39.12,95000,103,17,2018,송파대로 345,None,중개거래,서울 송파구,2023-03-06 00:00:00,2023-01-03 00:00:00
8,9,서울특별시 강동구 길동,강동렘브란트,15.86,11000,1,6,2014,천호대로177길 9,None,중개거래,서울 강동구,2023-01-30 00:00:00,2023-01-03 00:00:00
9,10,서울특별시 성북구 길음동,길음뉴타운4단지(e편한세상),84.64,79500,416,11,2005,길음로 118,None,중개거래,서울 성북구,2023-04-10 00:00:00,2023-01-04 00:00:00

## 질의에 따른 sql 생성

### 프롬프트 템플릿 준비 - sql 생성

In [14]:
sql_prompt_template = """
[ROLE]
You are the world's best database engineer and sqlite expert.

[CONTEXT]
You have actual apartment price data.
Based on this data, we can provide tailored answers to user questions.
In order to write SQL in SQLite3, you must refer to [SCHEMAS] and process it according to the processing order defined in [STEP].
'평' calculates the square meter area divided by 3.3.

[SCHEMAS]
{schemas}

[STEP]
1. keywords: Extract key keywords from user queries.
2. columns: Refer to [SCHEMA] and extract the column names corresponding to the main keywords extracted in 1. At this time, the column name must be extracted as {{{{table_name}}}}.{{{{column_name}}}} and must be a column name that exists in the table.
3. tables: Refer to 1 and 2 to extract the required tables.
4. conditions: Write conditions to answer the question. If not found, null is output.
5. group: Write data grouping column and column aggregration. If not found, null is output.
6. order_by: Write conditions for data output order. If not found, null is output.
7. prepared_sql: Write SQL for sqlite based on items 1 to 6.

[OUTPUT]
The output format is as follows:
{{
    "keywords" : {{{{keywords:list(str)}}}},
    "columns" : {{{{columns:list(str)}}}},
    "tables" : {{{{tables:list(str)}}}},
    "conditions" : {{{{conditions:list(str) | null}}}},
    "group" : {{{{ {{
        "group_by" : {{{{group_by_columns:list(str)}}}},
        "aggregations" : {{
            {{{{column1}}}} : {{{{operations1}}}},
            {{{{column2}}}} : {{{{operations2}}}}
        }}
    }} | null}}}},
    "order_by" : {{
        {{{{column1}}}} : {{{{ ASC | DESC }}}},
        {{{{column2}}}} : {{{{ ASC | DESC }}}}
    }},
    "prepared_sql" : {{{{prepared_sql}}}}
}}

[INSTRUCTION]
Refer to [SCHEMA] and create sql statements that can answer the following user questions in the manner described in [CONTEXT].
---
question : 지역별 거래금액 평균을 알려줘
answer : {{
    "keywords" : ["지역별","거래금액", "평균"],
    "columns" : ["real_transaction.시군구","real_transaction.거래금액_만원"],
    "tables" : ["real_transaction"],
    "conditions" : null,
    "group" : {{
        "group_by" : ["시군구"],
        "aggregations" : {{
            "거래금액_만원" : "AVG"
        }}
    }},
    "order_by" : null,
    "prepared_sql" : "SELECT 시군구,AVG(거래금액_만원) AS 평균_거래금액 FROM real_transaction GROUP BY 시군구"
}}
---
question : 서울특별시 강남구 대치동의 평당 가격 평균이 가장 높은 아파트 5건을 보여줘
answer : {{
    "keywords" : ["서울특별시 강남구 대치동","평당", "가격", "평균", "가장 높은", "아파트", "5건"],
    "columns" : ["real_transaction.시군구","real_transaction.전용면적_m2","real_transaction.거래금액_만원","real_transaction.단지명"],
    "tables" : ["real_transaction"],
    "conditions" : "시군구 is 서울특별시 강남구 대치동",
    "group" : {{
        "group_by" : ["단지명"],
        "aggregations" : {{
            "거래금액/(전용면적_m2/3.3)" : "AVG"
        }}
    }},
    "order_by" : {{
        "AVG(거래금액/(전용면적_m2/3.3))" : "DESC"
    }},
    "prepared_sql" : "SELECT 단지명, AVG(거래금액_만원/(전용면적_m2/3.3)) AS 평균_평당거래금액_만원 FROM real_transaction WHERE 시군구 = '서울특별시 강남구 대치동'  GROUP BY 단지명 ORDER BY  평균_평당거래금액_만원 DESC"
}}
---
question : {user_question}
answer :
"""

### 유저질의 입력

In [15]:
#@title 유저질의 입력

# 실제 유저의 질의를 입력하는 부분입니다. 아래 처럼 입력폼이 아닌 직접 문자열을 넣을 수도 있습니다.
# user_question = 서울특별시 성동구 옥수동에서 가장 비싸게 거래되는 아파트 상위 3개를 알려줘
user_question = "서울특별시 성동구 옥수동에서 가장 비싸게 거래되는 아파트 상위 3개를 알려줘" # @param {type: "string"}

### 스키마 준비

In [16]:
def get_db_schemas_all(conn):
    # db 스키마정보를 가지고 오는 함수를 정의합니다.
    # 해당 정보는 CREATE TABLE 문으로 string 형태로 출력됩니다
    cursor = conn.cursor()
    cursor.execute('SELECT sql FROM sqlite_master')
    rows = [row['sql'] for row in cursor.fetchall()]
    return "\n======\n".join(rows)

In [17]:
# db 스키마정보를 가지고 옵니다.
# 실제 프로젝트에서는 벡터검색등을 통해 다수의 테이블에서 필요한 테이블만 검색해 오는 방식 등을 사용하고 있습니다.
# 본 데모에서는 단일 테이블이므로 편의상 모든 테이블을 가지고 오는 함수를 사용합니다.
schema_info = get_db_schemas_all(conn)

### 프롬프트 빌드

In [18]:
def build_prompt_for_sql(template,user_question,schema_info):
    return template.format(schemas=schema_info, user_question=user_question)

In [19]:
prompt_for_sql = build_prompt_for_sql(sql_prompt_template,user_question,schema_info)
prompt_for_sql

'\n[ROLE]\nYou are the world\'s best database engineer and sqlite expert.\n\n[CONTEXT]\nYou have actual apartment price data.\nBased on this data, we can provide tailored answers to user questions.\nIn order to write SQL in SQLite3, you must refer to [SCHEMAS] and process it according to the processing order defined in [STEP].\n\'평\' calculates the square meter area divided by 3.3.\n\n[SCHEMAS]\nCREATE TABLE real_transaction\n    -- This is a table of actual apartment transactions that occurred in Seoul from April 2, 2023 to April 1, 2024.\n(\n    id INTEGER,   -- A unique ID that identifies a transaction, primary key\n    시군구 TEXT,    -- City, county, district in the area where the transaction occurred\n    단지명 TEXT,    -- The name of the apartment complex being contracted for\n    전용면적_m2 REAL,\t    -- The name of the apartment complex being contracted for\n    거래금액_만원 INTEGER,     -- The residential area of \u200b\u200bthe apartment under contract\n    동 TEXT,     -- Building number or building name of the apartment being contracted for\n    층 INTEGER,     -- The floor of the apartment where the transaction is being made\n    건축년도 INTEGER,     -- Year of construction of the apartment being contracted for\n    도로명 TEXT,     -- Street address of the apartment being contracted for\n    해제사유발생일 TEXT,     -- If the contract is canceled after registration of the sales contract, the date on which the contract was cancelled.\n    거래유형 TEXT,     -- This is a type of apartment sales transaction. There are two types of transactions: \'중개거래\' through a licensed real estate agent or \'직거래\' where the buyer and seller transact directly.\n    중개사소재지 TEXT,     -- If the sale of an apartment is a brokerage transaction, this is the office address of the real estate agent who brokered the transaction.\n    등기일자 TEXT,     -- This is the date of application for ownership transfer registration after the apartment sale transaction.\n    계약일자 TEXT     -- This is the date on which the apartment sales contract was signed.\n)\n\n[STEP]\n1. keywords: Extract key keywords from user queries.\n2. columns: Refer to [SCHEMA] and extract the column names corresponding to the main keywords extracted in 1. At this time, the column name must be extracted as {{table_name}}.{{column_name}} and must be a column name that exists in the table.\n3. tables: Refer to 1 and 2 to extract the required tables.\n4. conditions: Write conditions to answer the question. If not found, null is output.\n5. group: Write data grouping column and column aggregration. If not found, null is output.\n6. order_by: Write conditions for data output order. If not found, null is output.\n7. prepared_sql: Write SQL for sqlite based on items 1 to 6.\n\n[OUTPUT]\nThe output format is as follows:\n{\n    "keywords" : {{keywords:list(str)}},\n    "columns" : {{columns:list(str)}},\n    "tables" : {{tables:list(str)}},\n    "conditions" : {{conditions:list(str) | null}},\n    "group" : {{ {\n        "group_by" : {{group_by_columns:list(str)}},\n        "aggregations" : {\n            {{column1}} : {{operations1}},\n            {{column2}} : {{operations2}}\n        }\n    } | null}},\n    "order_by" : {\n        {{column1}} : {{ ASC | DESC }},\n        {{column2}} : {{ ASC | DESC }}\n    },\n    "prepared_sql" : {{prepared_sql}}\n}\n\n[INSTRUCTION]\nRefer to [SCHEMA] and create sql statements that can answer the following user questions in the manner described in [CONTEXT].\n---\nquestion : 지역별 거래금액 평균을 알려줘\nanswer : {\n    "keywords" : ["지역별","거래금액", "평균"],\n    "columns" : ["real_transaction.시군구","real_transaction.거래금액_만원"],\n    "tables" : ["real_transaction"],\n    "conditions" : null,\n    "group" : {\n        "group_by" : ["시군구"],\n        "aggregations" : {\n            "거래금액_만원" : "AVG"\n        }\n    },\n    "order_by" : null,\n    "prepared_sql" : "SELECT 시군구,AVG(거래금액_만원) AS 평균_거래금액 FROM real_transaction GROUP BY 시군구"\n}\n---\nquestion : 서울특별시 강남구 대치동의 평당 가격 평균이 가장 높은 아파트 5건을 보여줘\nanswer : {\n    "keywords" : ["서울특별시 강남구 대치동","평당", "가격", "평균", "가장 높은", "아파트", "5건"],\n    "columns" : ["real_transaction.시군구","real_transaction.전용면적_m2","real_transaction.거래금액_만원","real_transaction.단지명"],\n    "tables" : ["real_transaction"],\n    "conditions" : "시군구 is 서울특별시 강남구 대치동",\n    "group" : {\n        "group_by" : ["단지명"],\n        "aggregations" : {\n            "거래금액/(전용면적_m2/3.3)" : "AVG"\n        }\n    },\n    "order_by" : {\n        "AVG(거래금액/(전용면적_m2/3.3))" : "DESC"\n    },\n    "prepared_sql" : "SELECT 단지명, AVG(거래금액_만원/(전용면적_m2/3.3)) AS 평균_평당거래금액_만원 FROM real_transaction WHERE 시군구 = \'서울특별시 강남구 대치동\'  GROUP BY 단지명 ORDER BY  평균_평당거래금액_만원 DESC"\n}\n---\nquestion : 서울특별시 성동구 옥수동에서 가장 비싸게 거래되는 아파트 상위 3개를 알려줘\nanswer :\n'

In [20]:
import google.generativeai as genai
from google.colab import userdata

### Configure Colab Secret

1. 우선 Gemini-pro의 api key를 생성합니다.
https://aistudio.google.com/app/apikey
해당링크로 접속하여 api key를 만듭니다.

2. github의 sceret 탭으로 들어갑니다.
![image.png]()
3. 새 secret 추가 버튼을 눌러 secret 이름과 api key를 등록합니다.

등록을 완료했다면 밑에 gemini_api_secret_name에 api key의 이름을 등록해주세요

In [28]:
from google.colab import userdata
userdata.get('gemini_pro_api_key')

'AIzaSyDLv_qfrLissk-4FEVWyX9D6sQJo_laYfk'

In [32]:
#@title Configure Gemini API key

gemini_pro_api_key = 'AIzaSyDLv_qfrLissk-4FEVWyX9D6sQJo_laYfk' # @param {type:"string"}

try:
  GOOGLE_API_KEY=userdata.get('gemini_pro_api_key')
  genai.configure(api_key=GOOGLE_API_KEY)
except userdata.SecretNotFoundError as e:
   print(f'Secret not found\n\nThis expects you to create a secret named {"gemini_pro_api_key"} in Colab\n\nVisit https://makersuite.google.com/app/apikey to create an API key\n\nStore that in the secrets section on the left side of the notebook (key icon)\n\nName the secret {"gemini_pro_api_key"}')
   raise e
except userdata.NotebookAccessError as e:
  print(f'You need to grant this notebook access to the {"gemini_pro_api_key"} secret in order for the notebook to access Gemini on your behalf.')
  raise e
except Exception as e:
  # unknown error
  print(f"There was an unknown error. Ensure you have a secret {'gemini_pro_api_key'} stored in Colab and it's a valid key from https://makersuite.google.com/app/apikey")
  raise e

### LLM에 프롬프트 전송

In [33]:
model = genai.GenerativeModel('gemini-pro')
chat = model.start_chat(history=[])

response = chat.send_message(
    content=prompt_for_sql,
    generation_config={
        "temperature": 0,
        "top_p": 0.8,
        "top_k": 40,
        }
    )
response.text

'{\n    "keywords" : ["서울특별시 성동구 옥수동","가장 비싸게 거래되는", "아파트", "상위 3개"],\n    "columns" : ["real_transaction.단지명","real_transaction.거래금액_만원"],\n    "tables" : ["real_transaction"],\n    "conditions" : "시군구 = \'서울특별시 성동구 옥수동\'",\n    "group" : null,\n    "order_by" : {\n        "거래금액_만원" : "DESC"\n    },\n    "prepared_sql" : "SELECT 단지명,거래금액_만원 FROM real_transaction WHERE 시군구 = \'서울특별시 성동구 옥수동\' ORDER BY 거래금액_만원 DESC LIMIT 3"\n}'

### LLM 응답 파싱

In [34]:
import json

def parse_json_response(llm_json_response) -> any:
  # json string 형태로 받은 gemini-pro의 응답을 dictionary 형태로 파싱합니다.
  # 본 함수는 구글의 박경표님(https://github.com/kpyopark)이 작성한 코드를 사용하였습니다.
  start_char = '['
  end_char = ']'
  if llm_json_response.find('[') == -1 or llm_json_response.find('{') < llm_json_response.find('[') :
    start_char = '{'
    end_char = '}'
  start_index = llm_json_response.find(start_char)
  end_index = llm_json_response.rfind(end_char)
  json_data = llm_json_response[start_index:end_index+1]
  parsed_json = json.loads(json_data)
  return parsed_json

In [35]:
# gemini의 응답을 파싱합니다.
res_json = parse_json_response(response.text)
res_json

{'keywords': ['서울특별시 성동구 옥수동', '가장 비싸게 거래되는', '아파트', '상위 3개'],
 'columns': ['real_transaction.단지명', 'real_transaction.거래금액_만원'],
 'tables': ['real_transaction'],
 'conditions': "시군구 = '서울특별시 성동구 옥수동'",
 'group': None,
 'order_by': {'거래금액_만원': 'DESC'},
 'prepared_sql': "SELECT 단지명,거래금액_만원 FROM real_transaction WHERE 시군구 = '서울특별시 성동구 옥수동' ORDER BY 거래금액_만원 DESC LIMIT 3"}

## LLM이 생성한 SQL로 실제 데이터 쿼리

In [36]:
# 응답중 sql만 뽑아냅니다.
gemini_sql = res_json['prepared_sql']
gemini_sql

"SELECT 단지명,거래금액_만원 FROM real_transaction WHERE 시군구 = '서울특별시 성동구 옥수동' ORDER BY 거래금액_만원 DESC LIMIT 3"

In [37]:
# 생성한 sql로 실제 sqlite3에서 데이터를 조회합니다.
cursor =  conn.cursor()
cursor.execute(gemini_sql)
query_result = [dict(row) for row in cursor.fetchall()]
query_result

[{'단지명': '한남하이츠', '거래금액_만원': 355000},
 {'단지명': '한남하이츠', '거래금액_만원': 350000},
 {'단지명': '한남하이츠', '거래금액_만원': 298000}]

## 은닉한 데이터로 LLM 답변 얻기

### 데이터 은닉

In [38]:
def mask_query_result(query_result):
    # 이 함수는 쿼리 결과를 LLM에게 전달하지 않기 위해 값을 hidden_value_{{row}}_{{col}}으로 마스킹합니다.
    return [{ col : f"[[hidden_value_{i+1}_{col}]]"  for j, col in enumerate(row)} for i, row in enumerate(query_result)]

In [39]:
# 쿼리 결과를 gemini에게 전달하지 않기 위해 hidden_value로 마스킹처리를 합니다.
hidden_query_result = mask_query_result(query_result)
hidden_query_result

[{'단지명': '[[hidden_value_1_단지명]]', '거래금액_만원': '[[hidden_value_1_거래금액_만원]]'},
 {'단지명': '[[hidden_value_2_단지명]]', '거래금액_만원': '[[hidden_value_2_거래금액_만원]]'},
 {'단지명': '[[hidden_value_3_단지명]]', '거래금액_만원': '[[hidden_value_3_거래금액_만원]]'}]

### 프롬프트 빌드

In [40]:
after_query_prompt_template = '''
[SQL]
{gemini_sql}

[DATA]
{hidden_query_result}

[CONTEXT]
You created the following [SQL] to query the data in sqlite3:
[DATA] above is a query result whose value is [[hidden_value_{{{{row}}}}_{{{{col}}}}]] to hide the actual data.
Therefore, when responding, the value set as [[hidden_value_{{{{row}}}}_{{{{col}}}}]] must be responded as [[hidden_value_{{{{row}}}}_{{{{col}}}}]].

[OUTPUT]
language : korean
format : markdown

[INSTRUCTION]
Please refer to [DATA] above and respond to the user's questions below.
---
question : 지역별 거래금액 평균 중 가장 높은 3곳을 알려줘
answer : 지역별 거래금액 평균이 가장 높은 곳 3곳은
1. 1위는  [[hidden_value_1_시군구]]으로 평균거래가는 [[hidden_value_0_평균_거래금액_만원]]만원입니다.
2. 2위는  [[hidden_value_1_시군구]]으로 평균거래가는 [[hidden_value_1_평균_거래금액_만원]]만원입니다.
2. 3위는  [[hidden_value_2_시군구]]으로 평균거래가는 [[hidden_value_2_평균_거래금액_만원]]만원입니다.
---
question : 평당 가격이 가장 높게 거래된 아파트는 어디야?
answer : 평당 가격이 가장 높게 거래된 아파트는 [[hidden_value_1_시군구]]에 있는 [[hidden_value_1_단지명]]로 전용면적은 [[hidden_value_1_전용면적_m2]]이고 거래가는 [[hidden_value_1_거래금액_만원]], 평당 거래금액은  [[hidden_value_1_평당거래금액_만원]]에 거래되었습니다.
---
question : {user_question}
answer :
'''

In [41]:
def build_prompt_for_llm_res(template, user_question, gemini_sql, hidden_query_result):
    # 쿼리 결과를 바탕으로 대화형 응답을 하도록 하는 프롬프트를 빌드하는 함수입니다.
    return template.format(gemini_sql=gemini_sql, hidden_query_result=hidden_query_result, user_question=user_question)

In [42]:
prompt_for_llm_res = build_prompt_for_llm_res(after_query_prompt_template,user_question, gemini_sql,hidden_query_result)
prompt_for_llm_res

"\n[SQL]\nSELECT 단지명,거래금액_만원 FROM real_transaction WHERE 시군구 = '서울특별시 성동구 옥수동' ORDER BY 거래금액_만원 DESC LIMIT 3\n\n[DATA]\n[{'단지명': '[[hidden_value_1_단지명]]', '거래금액_만원': '[[hidden_value_1_거래금액_만원]]'}, {'단지명': '[[hidden_value_2_단지명]]', '거래금액_만원': '[[hidden_value_2_거래금액_만원]]'}, {'단지명': '[[hidden_value_3_단지명]]', '거래금액_만원': '[[hidden_value_3_거래금액_만원]]'}]\n\n[CONTEXT]\nYou created the following [SQL] to query the data in sqlite3:\n[DATA] above is a query result whose value is [[hidden_value_{{row}}_{{col}}]] to hide the actual data.\nTherefore, when responding, the value set as [[hidden_value_{{row}}_{{col}}]] must be responded as [[hidden_value_{{row}}_{{col}}]].\n\n[OUTPUT]\nlanguage : korean\nformat : markdown\n\n[INSTRUCTION]\nPlease refer to [DATA] above and respond to the user's questions below.\n---\nquestion : 지역별 거래금액 평균 중 가장 높은 3곳을 알려줘\nanswer : 지역별 거래금액 평균이 가장 높은 곳 3곳은\n1. 1위는  [[hidden_value_1_시군구]]으로 평균거래가는 [[hidden_value_0_평균_거래금액_만원]]만원입니다.\n2. 2위는  [[hidden_value_1_시군구]]으로 평균거래가는 [[hidden_value_1_평균_거래금액_만원]]만원입니다.\n2. 3위는  [[hidden_value_2_시군구]]으로 평균거래가는 [[hidden_value_2_평균_거래금액_만원]]만원입니다.\n---\nquestion : 평당 가격이 가장 높게 거래된 아파트는 어디야?\nanswer : 평당 가격이 가장 높게 거래된 아파트는 [[hidden_value_1_시군구]]에 있는 [[hidden_value_1_단지명]]로 전용면적은 [[hidden_value_1_전용면적_m2]]이고 거래가는 [[hidden_value_1_거래금액_만원]], 평당 거래금액은  [[hidden_value_1_평당거래금액_만원]]에 거래되었습니다.\n---\nquestion : 서울특별시 성동구 옥수동에서 가장 비싸게 거래되는 아파트 상위 3개를 알려줘\nanswer :\n"

### LLM에 프롬프트 전송

In [43]:
# 프롬프트를 LLM으로 전송하여 응답을 얻습니다.
response = chat.send_message(
    content=prompt_for_llm_res,
    generation_config={
        "temperature": 0,
        "top_p": 0.8,
        "top_k": 40,
        }
    )
response.text

'서울특별시 성동구 옥수동에서 가장 비싸게 거래되는 아파트 상위 3개는 다음과 같습니다.\n1. 1위는 [[hidden_value_1_단지명]]으로 거래금액은 [[hidden_value_1_거래금액_만원]]만원입니다.\n2. 2위는 [[hidden_value_2_단지명]]으로 거래금액은 [[hidden_value_2_거래금액_만원]]만원입니다.\n3. 3위는 [[hidden_value_3_단지명]]으로 거래금액은 [[hidden_value_3_거래금액_만원]]만원입니다.'

### 은닉한 데이터를 실제 데이터로 변환

In [44]:
def format_hidden_value(message:str, real_values:list[dict]) -> str:
    # 마스킹 되어있는 LLM의 값을 실제 값으로 포멧팅하는 함수입니다.
    for i, real_value in enumerate(real_values):
        for key, value in real_value.items():
            message = message.replace(f"[[hidden_value_{i+1}_{key}]]", f"{value}")
    return message

In [45]:
# 마스킹 처리 되어있는 LLM의 응답을 실제 데이터로 치환
real_response = format_hidden_value(response.text, query_result)
real_response

'서울특별시 성동구 옥수동에서 가장 비싸게 거래되는 아파트 상위 3개는 다음과 같습니다.\n1. 1위는 한남하이츠으로 거래금액은 355000만원입니다.\n2. 2위는 한남하이츠으로 거래금액은 350000만원입니다.\n3. 3위는 한남하이츠으로 거래금액은 298000만원입니다.'